html, body {
	font-family: sans-serif, verdana, helvetica, arial;
	font-size: 13pt;
	margin:0px;
	width:100%;
	height:100%;
	padding: 0;
}
#headline {
	color: black;
	font-size:13pt;
	margin-top: 50px;
	word-spacing:1px;
	font-family: sans-serif, verdana, helvetica, arial;
}
#navi {
	width: 900px;
	font-size:13pt;
	margin-left: 20px;
}
#navivita {
	width: 900px;
	font-size:13pt;
	margin-top: 20px;
}
#headline2 {
	color: black;
	font-size:10pt;
	word-spacing:1px;
	font-family: sans-serif, verdana, helvetica, arial;
}
#headline3 {
	color: black;
	font-size:11pt;
	word-spacing:1px;
	font-family: sans-serif, verdana, helvetica, arial;
}
#news {
	color: black;
	font-size: 13pt;
	margin-top: 50px;
	width: 850px;
}
#filmo {
	color: black;
	font-size: 13pt;
	margin-top: 60px;
	width: 850px;
}
#minivita {
	color: black;
	font-size: 13pt;
        font-family: sans-serif, verdana, helvetica, arial;
	width: 750px;
	height: 90px;
}
#impressumstext {
	color: black;
	font-size: 13pt;
        font-family: sans-serif, verdana, helvetica, arial;
	margin-top: 60px;
	width: 850px;
	height: 900px;
}
#picposition  {
	margin-top: 30px;
}
.copyright  {
	color: black;
	font-size: 8pt;
        font-family: sans-serif, verdana, helvetica, arial;
	
}
.copyright2  {
	color: black;
	font-size: 8pt;
        font-family: sans-serif, verdana, helvetica, arial;
	margin-left: 765px;
}
.copyright3  {
	color: black;
	font-size: 8pt;
        font-family: sans-serif, verdana, helvetica, arial;
	margin-left: 660px;
}
.copyright4  {
	color: black;
	font-size: 8pt;
        font-family: sans-serif, verdana, helvetica, arial;
	margin-left: 350px;
	
}
.orangeline {
        color: #B23900;
	font-size: 12pt;
        font-family: sans-serif, verdana, helvetica, arial;
}
#picpositionkontakt  {
	margin-bottom: 50px;
	margin-right: 50px;
}
#picpositionlinks  {
	margin-bottom: 50px;
	margin-right: 60px;
}
#unterfototext {
	margin-top: 10px;
	margin-left: 100px;
	margin-bottom: 10px;

	width: 800px;
	height: 100px;
}
#picposition2 {
	margin-top: 70px;
	margin-left: 100px;
	margin-right: 50px;
}
.bg {
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	background-position:top left;
	margin: auto; /* Div soll zentriert werden */
	min-height: 100%; /* Mindesthöhe für moderne Browser */
	height:auto !important; /* Important Regel für moderne Browser */
	height:100%; /* Mindesthöhe für den IE */
	overflow: hidden !important; /* FF Scroll-leiste */
}
#ueberschrift1 {
	font-size:10pt;
        color: black;
        font-family: sans-serif, verdana, helvetica, arial;
        word-spacing: 1px;
}
#ueberschrift2 {
	font-size:10pt;
	color: black;
        font-family: sans-serif, verdana, helvetica, arial;
        word-spacing: 1px;
}
#ueberschriftbilder {
	font-size:10pt;
        font-family: sans-serif, verdana, helvetica, arial;
        word-spacing: 1px;
}
#ueberschrift2 {
	font-size:9pt;
        font-family: sans-serif, verdana, helvetica, arial;
        word-spacing: 3px;
}
#navi ul {
	list-style: none;
}
#navi li {
	float: left;
	position:relative;
	width: 90px;;
	background-color: #FF6B33;
	margin: 9px 9px 9px 9px;
	padding: 6px 6px 6px 6px;
}
.clear {
	clear: both;
}
.link {
	color: black;
	text-decoration: none;
	margin-right: 70px;
}
.linkaktiv {
	color: black;
	text-decoration: underline;
	margin-right: 70px;
}
.linkvita{
	color: black;
	text-decoration: none;
	margin-right: 25px;
}
.linkvita:hover{
	color: black;
	text-decoration: underline;
	margin-right: 25px;
}
.linkvitaaktiv{
	color: black;
	text-decoration: underline;
	margin-right: 25px;
}
.link:hover {
	color: black;
	text-decoration: underline;
}
.link2 {
    color: black;
    text-decoration: none;
}
.link2:hover {
    color: #B23900;
    text-decoration: none;
}
.linkmail {
    color: #B23900;
    text-decoration: none;
}
.linkmail:hover {
	color: black;
	text-decoration: underline;
}
.linkbilder {
    text-decoration:none;
}
.inhalte {
	color: black;
	font-size: 13pt;
        font-family: sans-serif, verdana, helvetica, arial;
        position: relative;
	width: 1200px;
	height: 450px;
}
.bildnummer {
	color: black;
	font-weight: bold;
	float: left;
        font-family: sans-serif, verdana, helvetica, arial;
        word-spacing: 1px;
	}
.bilderpositionstartseite {
    position: relative;
    margin-left: 650px;
    position: relative;
}
.infostartseite {
	color: black;
	font-size: 13pt;
        font-family: sans-serif, verdana, helvetica, arial;
	margin-left: 200px;
        position: relative;
	width: 400px;
	height: 200px;
}
.bilderposition {
    position: relative;
    margin-left: 200px;
    width: 1300px;
    height: 770px;
}
#bilderposition {
	float:none;
}
.inhaltevideo {
    color: black;
    font-size: 13pt;
    font-family: sans-serif, verdana, helvetica, arial;
    margin-left: 200px;
    position: relative;
    width: 1200px;
    height: 830px;
}
.textcolorvideo {
    color: #EAFFFA;
}
.vitainhalte {
    color: black;
    font-size: 13pt;
    font-family: sans-serif, verdana, helvetica, arial;
    margin-left: 200px;
    position: relative;
    width: 1100px;
    height: 830px;
}
.textcolorvita {
    color: #F85508;
}
.inhaltelinks {
    color: black;
    font-size: 13pt;
    font-family: sans-serif, verdana, helvetica, arial;
    margin-left: 200px;
    position: relative;
    width: 1200px;
    height: 830px;
}
ul li.auflistungen {
	display: block;
	position:relative;
	padding: 0px;
	margin: 0px;
	list-style: none;
}